.container {
  padding: 2rem;
}

.project {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.links {
  margin-bottom: 1rem;
}

.links a {
  padding: 0.5rem;
}

.links a:first-of-type {
  padding-left: 0;
}

.project video {
  width: 100%;
}