<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap&subset=cyrillic")
    link(rel="stylesheet", href="main.css")
    title Kazachenko
  body.light
    include ../components/header/header.pug
    script(src="script.js")