header.b-header
  a.b-brand(href='#')
    span._part Казаченко
    span._part Вячеслав
  nav.b-navigation
    a._link(href='#') Портфолио
    a._link(href='#') Блог
    a._link(href='#') Контакты
    button._button English
    button._button.-image 
    
